.pokemon {
  min-height: 100px;
  border-radius: 4px;
  box-shadow: var(--card-shadow);
}

.pokemon header {
  padding: 10px 20px;
  font-size: 1.2em;
  font-weight: bold;
}

.pokemon__image img{
  display: block;
  margin: auto;
  height: 120px;
}

.pokemon__actions {
  padding: 10px 20px;
  margin-left: auto;
}

.pokemon__actions .action {
  height: 24px;
}

.heart-action {
  margin-left: auto;
  display: block;
  height: 16px;
}

.heart-action path {
  fill: gray;
  height: 10px;
  width: 10px;
}

.heart-action.heart-action--active path {
  fill: #FF0000;
}
